<ion-header>
  <ion-toolbar>
    <ion-title>Current Weather</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <div id="map"></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item lines="full">
        <ion-img [src]="imgUrl"></ion-img>
      </ion-item>
      <ion-item lines="full">
        <ion-label>Weather Condition: {{ currentWeather }}</ion-label>
      </ion-item>
      <ion-item lines="full">
        <ion-label>Temperature: {{ currentTemperature }} <span>&#176;</span>C</ion-label>
      </ion-item>
      <ion-item lines="full">
        <ion-label>Place: {{ currentCity }}</ion-label>
      </ion-item>
      <ion-item lines="full">
        <ion-label>{{ dateToday | date:'short' }}</ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-content>
