<ion-header>
  <ion-toolbar>
    <ion-title>My Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]=profileForm (ngSubmit)="onSubmit()">
    <ion-list lines="none">
      <ion-item>
        <ion-label>First Name:</ion-label>
        <ion-input type="text" formControlName="firstName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Last Name:</ion-label>
        <ion-input type="text" formControlName="lastName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Email Address:</ion-label>
        <ion-input type="email" formControlName="emailAddress"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Birthdate:</ion-label>
        <ion-datetime type="text" formControlName="birthDate"></ion-datetime>
      </ion-item>
      <ion-item>
        <div formArrayName="addresses">
          <ion-label>addresses</ion-label>
          <ion-button (click)="addAddress()" type="button">+</ion-button>
          <div *ngFor="let address of addresses.controls; let i = index" formGroupName="{{ i }}">
            <ion-item>
              <ion-label>Unit No:</ion-label>
              <ion-input type="text" formControlName="unitNo"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Street</ion-label>
              <ion-input type="text" formControlName="street"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Suburb:</ion-label>
              <ion-input type="text" formControlName="suburb"></ion-input>
            </ion-item>
            <ion-button *ngIf="i > 0" color="danger" type="button" (click)="deleteAddress(i)">-</ion-button> 
          </div>
        </div>
      </ion-item>
    </ion-list>
    <ion-button type="submit" expand="block">Submit</ion-button>
  </form>
</ion-content>
